@import url("https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap");

@font-face {
  font-family: "MALGUN";
  src: local("MALGUN"), url("./assets/fonts/MALGUNSL.TTF") format("opentype");
}

.headertext-welcome {
  font-family: "Pinyon Script", cursive;
  font-weight: normal;
  font-size: 2rem;
  margin: 0;
  padding: 0;
  line-height: 1;
}

.headertext-name {
  font-weight: normal;
  font-size: 3.5rem;
  margin: 0;
  padding: 0;
  line-height: 1;
}

.headertext-date {
  font-weight: normal;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  line-height: 1;
}

.App {
  text-align: center;
  width: 100%;
  height: 100%;
}

.flower-and-header {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.img-flower {
  position: absolute;
  width: 22%;
}

.HeaderBox {
  display: flex;
  background-color: #f5ece5;
  width: 100%;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin-top: 3%;
}

.Header {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.HeaderButtons {
  display: flex;
  flex-direction: row;
  width: 90%;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.header-line {
  display: block;
  height: 1px;
  border: 0;
  border-top: 3px solid #ccc;
  margin: 1em 0;
  width: 100%;
  margin-top: 5%;
}

.weddingday-line {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  width: 100%;
}

.MainPage {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #f5ece5;
}

.PageBox {
  margin-top: 3%;
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  background-color: #f5ece5;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 400px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  display: grid;
  grid-auto-flow: row;
  border-style: solid;
  border-color: #ff00ff;
  border-width: 4px;
}

.flip-card-front {
  background-color: #a3b19b;
  color: whitesmoke;
}

.flip-card-back {
  background-color: rgb(93, 153, 187);
  color: whitesmoke;

  transform: rotateY(180deg);
}

.TextGroup {
  line-height: 0.8;
}

.MenuButton {
  flex: 1;
  font-size: medium;
  border-width: 0px;
  background-color: #f5ece5;
  font-family: "MALGUN";
}

.MenuButton-selected {
  flex: 1;
  background-color: #f5ece5;
  font-size: medium;
  border-width: 0px;
  font-weight: bolder;
  font-family: "MALGUN";
}

.MenuButton:hover {
  background-color: #efe3db; /*#e7d9ce;  https://meyerweb.com/eric/tools/color-blend/#F5ECE5:E7D9CE:10:hex*/
  cursor: pointer;
}

.welcome-page {
  width: 50%;
  height: 60%;
}

.notice-form {
  border-width: 3px;
  border-style: solid;
  border-color: #ccc;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  align-items: center;
  width: 40%;
  background-color: #f7e7db;
}

.form-section {
  border-width: 3px;
  border-style: solid;
  border-color: #ccc;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;

  margin-bottom: 1rem;
  align-items: flex-start;
  width: 90%;
  background-color: #fdf4ed;
}

.form-textinput {
  margin-left: 1rem;

  margin-bottom: 1rem;

  line-height: 30px;
  font-size: large;
  width: 90%;
}

.InputWithLabel {
  width: 90%;

  display: flex;
  flex-direction: column;
  margin: 1rem;
  align-items: flex-start;
  font-weight: bold;
}

.form-header {
  font-weight: bold;
  font-size: medium;
  line-height: 1.2;
  padding-left: 1rem;
}

.form-radiobuttons-section {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.radiobuttons-box {
  border-width: 1px;
  border-style: solid;
  border-color: #ccc;
  border-bottom: none;
  width: 100%;
}

.form-radiobuttons {
  margin: 1rem;
  display: flex;
  align-items: flex-start;
}

.form-textarea {
  margin-left: 1rem;
  margin-bottom: 1rem;
  font-size: large;

  width: 90%;
  height: 100px;
  resize: none;
}

.weddingday-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 60%;
}

.weddingday-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 90%;
  text-align: left;
}

.weddingday-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
}

.weddingday-image {
  display: flex;
  margin-right: 1rem;
  height: 100%;
  margin-top: 0px;
  padding: 0px;
  height: 130px;
}

.weddingday-section h3 {
  font-weight: BOLD;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: "MALGUN";
}

.weddingday-section p {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: "MALGUN";
}
